/* Estilos Flex */

.publicidad-flex{
    display: flex;
    flex-direction: column;
    
}

.videos-flex{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.videos-flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

#videos-instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-cards{
    display: flex;
    justify-content: center;
    }