/*Media para Móvil*/

@media only screen and (min-width: 100px) and (max-width: 700px) {
h1, h2, h3 {
    font-size: 1.1rem;
}

body{
    .main-index{
        margin-right: 3%;
        margin-left: 3%;
    }
}

header{
    #banner {
    width:100%;
    height:200px;
    background: url(../Assets/Imagenes-varias/carol-vaz-fotos.jpg) center center;
    background-size: 100% 200px;
    background-repeat: no-repeat;
    }
    div{
        p{
            display: none;
        }
    }
}

main{
    #tituloPrincipal{
        width: 100%;
        font-size: 1.5rem;
}
    .seccion-uno{
        padding-right: 0;
        padding-left: 0;
}
    #videos-instagram{
        display: none;
}
    .publicidad-flex{
        display: none;
}
    .contenedor-carrusel{
        height: 60%;
        width:  60%;
}
}

.video{
        margin-left: 0;
        margin-right: 0;
}

#cartel-index{
    a{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 0.7rem;
    }
}

.parrafo{
        font-size: 1rem;
}

#parrafo2{
    font-size: 1rem;
}

.parrafo-3{
    font-size: 1rem;
}

img{
    width: 250px;
    height: 300px;
}

.img-2{
    float: none;
    margin: auto;
    width: 200px;
    height: 250px;
}

.btn{
    margin-top: 2%;
}

footer{
        p{
            font-size: 0.7rem;
            margin-top: 3%;
        }
        .contenedor-form{
            width: 50%;
            margin-left: 2%;
            p{
                font-size: 1rem;
            }
        .redes_container{
            ul{
                li{
                    width: 40px;
                    height: 40px;
                    margin-bottom: 10%;
                }
            }
        }
        div{
            form{
                input{
                    #email{
                        font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* Media para Tablets Index */
    
@media only screen and (min-width: 700px) and (max-width: 1200px) {
    #banner {
    width: 100%;
    height:400px;
    background: url(../Assets/Imagenes-varias/carol-vaz-fotos.jpg) center center;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    padding: 2px;
    }
    
    #videos-instagram{
        display: none;
    }
    img{
        width: 300px;
        height: 400px;
    }
    .img-2{
        margin-left: 10px;
    }
    #parrafo2{
        font-size: 1rem;
    }
    .publicidad-flex{
        display:none;
    }
    .contenedor-carrusel{
        height: 50%;
        width:  50%;

}
}

/* medias para error404 */
@media (min-width:200px) and (max-width:768px){
    #error{
        section div
        {
            position: static;
            h2{
                position: static;
            }
            h1{
            font-size: 3.7rem;
            }
        } 
    }
}

/*Medias Movil Tienda*/

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor-cards{
		flex-wrap: wrap;
	}
	.cards{
        width: 15rem;
		margin: 10px;
	}
}